server:
  port: 8761

eureka:
  server:
    enable-self-preservation: false         # 关闭自我保护模式（缺省为打开）
    eviction-interval-timer-in-ms: 5000    # 续期时间，即扫描失效服务的间隔时间（缺省为60*1000ms）
  instance:
    hostname: localhost
    lease-renewal-interval-in-seconds: 2     # 默认为30秒
  client:
    registerWithEureka: false
    fetchRegistry: false
    serviceUrl:
      defaultZone: http://${eureka.instance.hostname}:${server.port}/eureka/
